.root{
	-fx-background-color: linear-gradient(#8693AB,#BDD4E7);
}

.button{
    -fx-font-family: 'Montserrat', sans-serif;
	-fx-font-size: 24;
	-fx-background-color: #eae7d8;
}

.button:hover {
	-fx-background-color: linear-gradient(#8693AB,#BDD4E7);
	-fx-text-fill: white;
  	-fx-font-size: 24;
}

#rightWord .text{
    -fx-fill: green;
}

#wrongWord .text{
    -fx-fill: red;
}

.table-view{
    -fx-background-color: white;
    -fx-background-insets: 0.0,1.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.4), 5.0, 0.0, 0.0, 1.0);
    -fx-font-size: 20.0;
    -fx-font-family: 'Montserrat';
    -fx-border-color: transparent; 
 }
 
 /* https://stackoverflow.com/questions/48690143/deactivate-blue-border-from-first-row-when-table-view-is-focused */
 .table-view:focused .table-row-cell:focused {
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
} 
 
  /* https://stackoverflow.com/questions/27354085/disable-row-selection-in-tableview */
 .table-row-cell:filled:selected { 
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5.0%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}
 
.column-header {
     -fx-font-family: 'Montserrat';
     -fx-font-size: 20.0;
} 