@font-face {
    src: url('./fonts/Sassoon-Primary.ttf');
}

.root{
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-position: center;
	-fx-background-image: url("./Months_of_Year_1.jpg");
}

.label{
    -fx-font-family: 'Sassoon Primary', sans-serif;
	-fx-text-fill: #FFD580;
	-fx-alignment: center;
}

.button{
    -fx-font-family: 'Sassoon Primary', sans-serif;
	-fx-font-size: 24;
	-fx-background-color: white;
}

.button:hover {
	-fx-background-color: #FFD580;
	-fx-text-fill: white;
  	-fx-font-size: 24;
}