@font-face {
    src: url('./fonts/Andika-R.ttf');
}

.root{
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-position: center;
	-fx-background-image: url("./Colours.jpg");
}

.label{
    -fx-font-family: 'Andika', sans-serif;
	-fx-text-fill: grey;
	-fx-alignment: center;
}

.button{
    -fx-font-family: 'Andika', sans-serif;
	-fx-font-size: 24;
	-fx-background-color: 58deeb;
}

.button:hover {
	-fx-background-color: grey;
	-fx-text-fill: white;
  	-fx-font-size: 24;
}

#check{
	-fx-background-color: #ff4297;
}

#rightWord .text{
    -fx-fill: green;
}

#wrongWord .text{
    -fx-fill: red;
}

.list-view .list-cell{
	-fx-text-fill: black;
  	-fx-font-size: 20;
}


.table-view .table-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0,1.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.4), 5.0, 0.0, 0.0, 1.0);
    -fx-border-color: transparent; 
    -fx-text-fill: black;
    -fx-font-size: 20.0;
 }
 
 
 .table-view .column-header *{     
 	 -fx-font-family: 'Montserrat';
     -fx-text-fill: black;
     -fx-font-size: 24.0;
}

.choice-box .label {
     -fx-text-fill: black; 
}