.root{
	-fx-background-color: linear-gradient(#8693AB,#BDD4E7);
}

.label{
	
}

.button{
    -fx-font-family: 'Montserrat', sans-serif;
	-fx-font-size: 24;
	-fx-background-color: #eae7d8;
}

.button:hover {
	-fx-background-color: linear-gradient(#8693AB,#BDD4E7);
	-fx-text-fill: white;
  	-fx-font-size: 24;
}