@font-face {
    src: url('./fonts/Montserrat-SemiBold.ttf');
}

.root{
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-position: center;
	-fx-background-image: url("./Uni_Life.jpg");
}

.label{
    -fx-font-family: 'Montserrat', sans-serif;
	-fx-text-fill: #ADD8E6;
	-fx-alignment: center;
}

.button{
    -fx-font-family: 'Montserrat', sans-serif;
	-fx-font-size: 24;
	-fx-background-color: white;
}

.button:hover {
	-fx-background-color: #ADD8E6;
	-fx-text-fill: white;
  	-fx-font-size: 24;
}